html,
body {
	margin: 0;
	padding: 0;
}

body {
	align-items: center;
	background-color: black;
	display: flex;
	height: 100vh;
	justify-content: center;
}

canvas {
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	width: 100vmin;
}
